<!-- 
  This configuration file activates diagnostic extention designed to trace execution of EventQueue processing by Sitecore
  
  /!\ NOTE: Activating this solution renders the 'Sitecore.Support.Diagnostics.5454846' diagnostic solution ( to trace execution of SQL operations per 'publishItem' invocation ) inoperate
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.Support.Data.$(database).$(database)DataProvider, Sitecore.Support.97026</patch:attribute>
      </main>
    </dataProviders>
  </sitecore>
</configuration>