<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <PropertyStoreProvider defaultStore="core">
      <store name="core" prefix="core" getValueWithoutPrefix="true" singleInstance="true" set:type="Sitecore.Support.Data.Properties.FileSystemStore, Sitecore.Support.97026">
      </store>
      <store name="web" prefix="web" getValueWithoutPrefix="true" singleInstance="true" set:type="Sitecore.Support.Data.Properties.FileSystemStore, Sitecore.Support.97026">
      </store>
      <store name="master" prefix="master" getValueWithoutPrefix="true" singleInstance="true" set:type="Sitecore.Support.Data.Properties.FileSystemStore, Sitecore.Support.97026">
      </store>
    </PropertyStoreProvider>
  </sitecore>
</configuration>